.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}
.searchUser{
    margin-top: 10px;
    margin-left: 40%;
}
.diffUser{
    margin-left: 10px;
}
.users{
    position: fixed;
    /* width: 500px; */
    width: 100%;
    background:whitesmoke;
    top: 64px;
    /* left: 240px; */
}

.userLine{
    margin: 0;
    padding:0,
}
