.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}
.searchUser{
    margin-top: 10px;
}
.diffUser{
    margin-left: 10px;
}
.users{
    position: fixed;
    width: 500px;
    background:whitesmoke;
    top: 65px;
    left: 240px;
}

.userLine{
    margin: 0;
    padding:0,
}
